html {
  height: 100%; }

body {
  background: #CCC; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.z-index-5 {
  position: relative;
  z-index: 5; }

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px); }

#container {
  background: #FFF;
  margin: 50px auto;
  overflow: scroll;
  position: relative;
  width: 320px;
  height: 480px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3); }

#header {
  background: #FFF;
  color: #FFF;
  overflow: hidden;
  position: fixed;
  width: 320px;
  height: 44px; }
  #header:after {
    background: #0e5a8b;
    /* The Fallback */
    background: rgba(14, 90, 139, 0.5);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    z-index: 6;
    width: 320px;
    height: 44px; }

#duplicate {
  margin: 0 auto;
  position: absolute;
  top: 48px;
  z-index: 4;
  width: 320px; }

h3 {
  display: block;
  font-weight: normal;
  position: relative;
  top: 10px;
  text-align: center;
  z-index: 10; }

.space {
  height: 48px; }

ul#content {
  background: #FFF; }
  ul#content li {
    margin: 15px 0 0 0; }
    ul#content li img {
      display: block;
      margin: 20px 0 10px;
      outline: none;
      width: 320px;
      height: 320px; }
    ul#content li span {
      color: #222;
      padding: 10px; }
